@font-face {
  font-family: "Dekko";
  src:  url("../public/fonts/Dekko.woff") format("woff"),
        url("../public/fonts/Dekko.ttf") format("truetype");
  font-display: swap;
}

#root {
  width: 100%;
  margin: 0 0;
}
.dekko-regular {
  font-family: "Dekko", cursive;
  font-weight: 400;
  font-style: normal;
}
